__pycache__
venv

# https://kf.expert
/KF/result

# https://www.auction-house.ru
/auction-house/result
/auction-house/log

# https://www.rentavik.ru
/rentavik/result
/rentavik/log

# https://ires-group.ru/
/ires/result

# черновые сайты
/DRAFTS